@import "node_modules/bootstrap/dist/css/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header{
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: #323C8D;

    .header__container {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .header__logo{
    
            .logo__img{
                margin-left: 40px;
            }
        }  
        .header__secLogo {
            display: none;
        }
        .header__nav{
        
            .nav__btns {
                margin: 0;
                list-style: none;
                display: flex;
                align-items: center;
                
                .nav__btn {
                    margin-right: 20px;
                    font-weight: 500;
                    text-transform: uppercase;
                    a {
                        text-decoration: none;
                        color: white;
                        transition: 0.1s linear;
                        &:hover {
                            color: #8390f1;                    
                        }
                    }
                }
            }
        }
        .header__auth{

            .auth__btn{
                font-weight: 700;
                margin-right: 20px;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                transition: 0.1s linear;
            }
    
            .auth__btn:hover {
                color: #8390f1;
            }

            .username{
                cursor: default;
            }

            .username:hover {
                color: white;
            }
        }
        .header__menuBtn {
            position: relative;
            display: none ;
            width: auto !important;
            padding: 5px 15px;
            background-color: white;
            color: #5460b9;
            border: none;
            border-radius: 2px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            z-index: 5;
            
            &:hover {
                background-color: #b8c1ff;
                color: #4c5ee2;
                transition: all 0.2s ease;
            }
        }
    }
}

@media screen and (max-width: 1282px) and (min-width: 800px){
    .header__container {
        justify-content: space-between !important;

        .header__nav {
            position: fixed;
            top: 0;
            left: -100000px;
            width: 30%;
            height: 100%;
            flex-direction: column;
            background-color: #24327c; 
            box-shadow: 0 30px 40px #404464;
            z-index: 3;
            padding: 80px 15px;
            transition: all 0.7s ease 0s;
            
            .nav__btns {
                padding: 0;
                flex-direction: column;
                align-items: flex-start !important;

                .nav__btn {
                    width: 100%;
                    border-bottom: 1px solid rgb(138, 138, 138);
                    padding: 10px 0px;
                }
                .nav__btn:last-child {
                    border: none;
                }
            }
        }

        .header__nav.active {
            left: 0;
        }
        .header__auth {
            position: fixed;
            bottom: 0;
            left: -100000px;
            width: 30%;
            background-color: transparent;
            z-index: 4;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 700px;
            transition: all 0.7s ease 0s;

            .auth__btn {
                font-size: 25px;
                margin-right: 0 !important;
                margin-bottom: 30px;
            }
        }

        .header__auth.active {
            left: 0;
        }
        .header__secLogo {
            display: flex !important;
            position: fixed;
            top: 0;
            left: -10000px;
            width: 30%;
            z-index: 4;
            justify-content: center;
            padding: 15px 0 0 0 ;
            transition: all 0.7s ease 0s;
        }

        .header__secLogo.active {
            left: 0;
        }
        .header__menuBtn {
            display: block !important;
        }
    }
}

@media screen and (max-width: 799px){
    .header__container {
        justify-content: space-between !important;

        .header__nav {
            position: fixed;
            bottom: +10000px;
            left: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            background-color: #24327c; 
            box-shadow: 0 30px 40px #404464;
            z-index: 3;
            padding: 80px 15px;
            transition: all 0.7s ease 0s;
            
            .nav__btns {
                padding: 0;
                flex-direction: column;
                align-items: center !important;

                .nav__btn {
                    width: 70%;
                    border-bottom: 1px solid rgb(138, 138, 138);
                    padding: 10px 0px;
                    display: flex;
                    justify-content: center;
                }
                .nav__btn:last-child {
                    border: none;
                }
            }
        }
        .header__nav.active {
            bottom: 0;
        }
        .header__auth {
            position: fixed;
            bottom: +10000px;
            left: 0;
            width: 100%;
            background-color: transparent;
            z-index: 4;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 550px;
            transition: all 0.7s ease 0s;

            .auth__btn {
                font-size: 25px;
                margin-right: 0 !important;
                margin-bottom: 30px;
            }
        }
        .header__auth.active {
            bottom: 0;
        }
        .header__secLogo {
            display: flex !important;
            position: fixed;
            top: -10000px;
            left: 0;
            width: 100%;
            z-index: 4;
            justify-content: center;
            padding: 15px 0 0 0 ;
            transition: all 0.7s ease 0s;
        }
        .header__menuBtn {
            display: block !important;
        }
        .header__secLogo.active {
            top: 0;
        }
    }
}

.auth {
    padding-top: 3em;
    width: 100%;
    height: 50em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .auth__leftSide{
        display: flex;
        align-items: center;
        justify-content: center;

        .auth__logo{

        }
    }
    .auth__rightSide {
        width: 60%;
        display: flex;
        flex-direction: column;
        
        .auth__title {
            width: 80%;
            margin-bottom: 5%;
        }
        .auth__form {
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 1em;
            align-items: center;
            justify-items: center;
            
            .auth__form-item {
                width: 90%;
                display: flex;
                flex-direction: column;
                
                .auth__form-input {
                    margin-bottom: 5px;
                    height: 40px;
                    border: none;
                    border-bottom: 2px solid rgb(236, 236, 236);

                    .auth__form-input-select {
                        
                    }
                    &::placeholder{
                        opacity: 0.5;
                    }
                    &:hover {
                        &::placeholder{
                            opacity: 0.7;
                            transition: all 0.1s ease;
                        }
                        transition: all 0.1s ease;
                        border: none;
                        border-bottom: 2px solid rgb(160, 160, 160);
                    }
                    &:focus {
                        &::placeholder{
                            opacity: 1;
                            transition: all 0.3s ease;
                        }
                        transition: all 0.3s ease;
                        outline: none;
                        border: none;
                        border-bottom: 2px solid rgb(128, 128, 128);
                    }
                }
                .text-danger {
                    margin: 0;
                }
            }
            .auth__form-submit {
                height: 40px;
                width: auto !important;
                padding: 10px;
                margin: 20px auto;
                grid-column-start: 1;
                grid-column-end: 3;
                background-color: #323C8D;
                border: none;
                border-radius: 2px;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;

                &:hover {
                    background-color: #6770b6;
                    transition: all 0.3s ease;
                }
            }
            .auth__homeBtn {
                margin: 0 auto 1em auto;
                grid-column-start: 1;
                grid-column-end: 3;
                color: #323C8D;
                text-decoration: none;
                &:hover {
                    color: #5b6df1;
                    text-decoration: underline;
                    transition: all 0.5s ease;
                }
            }

            .auth__regBtn-text {
                text-align: center;
                margin: 0;

                .auth__regBtn {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    color: #323C8D;
                    text-decoration: none;
                    &:hover {
                        color: #5b6df1;
                        text-decoration: underline;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .auth {
        padding: 3em 15px 3em 15px;
        flex-direction: column;
        height: 100%;
    }

    .auth__leftSide {
        margin-bottom: 2em;
    }

    .auth__logo {
        width: 50%;
    }

    .auth__rightSide {
        width: 100% !important;
        padding: 10px;
        align-items: center;
    }

    .auth__form {
        width: 100% !important;
        display: flex !important;
        flex-direction: column;
    }

    .auth__title {
        text-align: center;
    }

    .auth__form-submit {
    }
    
}


.addEvent{ 
    margin: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .addEvent__leftSide {
        width: 50%;

        .addEvent__form-mainTitle{
            font-size: 35px;
            margin-bottom: 30px;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
            font-weight: bold;
        }

        .addEvent__form{
            margin: 0 auto;
            width: 90%;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);

            .addEvent__form-title {
                font-size: 24px;
                margin: 0;
                text-align: center;
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .addEvent__form-group{
                margin: 10px;
                position: relative;

                .addEvent__form-label{
                    display: flex;
                    position: absolute;
                    left: 10%;
                    top: 15%;
                    background: white;
                    white-space: nowrap;
                    transform: translate(0, 0);
                    transform-origin: 0 0;
                    transition: transform 120ms ease;
                    line-height: 1.7;
                    font-size: 14px;

                    .text-danger {
                        margin: 0;
                    }

                }
        
                .addEvent__form-input{
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    height: 35px;
                    border: 1px solid rgb(134, 134, 134);
                    padding: 10px;
                    background: transparent;
                    border-radius: 5px;

                    &:focus {
                        & + .addEvent__form-label {
                            transform: translate(.25rem, -60%) scale(.8);
                            color: rgb(134, 134, 134);
                        }
                    }
                    &:not(:placeholder-shown) {
                        & + .addEvent__form-label {
                            transform: translate(.25rem, -60%) scale(.8);
                            color: rgb(134, 134, 134);
                        }
                    }
                }
            }

            .addEvent__form-select {
                display: flex;
                flex-direction: column;
                margin: 10px;

                .addEvent__form-label{
                    display: flex;
                }
        
                .addEvent__form-input{
                    width: 100%;
                    border: 1px solid rgb(134, 134, 134);
                    padding: 10px;
                    background: transparent;
                    border-radius: 3px;
                    font-size: 12px;

                }
            }

            .addEvent__form-submit {
                width: auto !important;
                padding: 15px 30px;
                margin: 20px auto;
                grid-column-start: 1;
                grid-column-end: 3;
                background-color: #323C8D;
                border: none;
                border-radius: 2px;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                font-weight: bold;

                &:hover {
                    background-color: #6770b6;
                    transition: all 0.3s ease;
                }
            }
        }
    }

    .addEvent__rightSide {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .addEvent__right-logo{
            margin-bottom: 30px;
        }

        .addEvent__right-errors{
            display: flex;
            flex-direction: column;
            align-items: center;
            .addEvent__right-error{
                font-size: 25px;
                text-align: center;
                color: rgb(255, 89, 89);
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .addEvent {
        width: 100%;
        flex-direction: column-reverse;
        
        .addEvent__rightSide {
            width: 100%;

            .addEvent__right-logo {
                width: 20%;
            }
        }

        .addEvent__leftSide {
            width: 100%;

            .addEvent__form {
                display: flex;
                flex-direction: column;

                .addEvent__form-group {
                    width: 100%;
                }

                .addEvent__form-select {
                    width: 100%;
                }
            }
        }
    }

}

.events{
    margin: 40px 20px 80px 20px; 
    .events__title{
        margin: 0 20px 1em 20px;
    }
    .eventList{
        display: flex;
        margin-bottom: 30px;
        flex-direction: column;
        
        .eventList__item{
            width: 100%;
            padding: 10px 20px;
            margin: 10px 0;
            background-color: #adb6fd;
            border-radius: 3px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .eventList__title{
                color: #404464;
            }
            .eventList__detailLink{
                margin-right: 30px;
                color: #404464;
                text-decoration: none;
            }
        }
    }
}

.hidden  {
    display: none;
}

.event_types{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px auto;

    .event_types__link{
        width: 20%;
        text-decoration: none;
        padding: 10px;

        .event_types__group{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 30%;
    
            .event_types-logo{
                height: 10em;
                margin-bottom: 2em;
            }
            .event_types__text {
                font-size: 24px;
            } 
        }
        &:hover {
            transition: all 0.5s ease;
            background-color: rgb(219, 219, 219);
            border-radius: 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    .event_types{ 
        flex-direction: column; 
        align-items: center;
    }
    .event_types__link{
        width: 80% !important;
    }
    .event_types__group{
        display: flex;
        flex-direction: row;
        height: 30%;
    }
}


.eventDetailInfo{
    margin: 50px 0;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    background-color: #dde3ff;
    border-radius: 4px;

    .eventDetailInfo__titleLink {
        text-decoration: none;
        color: black;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0px 40px;

        .eventDetailInfo__title{       
            font-size: 35px;
        }
    }
    
    .eventDetailInfo__right{
        padding: 10px 40px ;
        background-color: #edf0fd;
        border-radius: 4px;

        .eventDetailInfo__data{
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .eventDetailInfo__left{

        .eventDetailInfo__requirmets{
            padding: 10px 40px ;
            margin-bottom: 20px;
            background-color: #edf0fd;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .eventDetailInfo__requirmets-requirmets{

                .eventDetailInfo__requirmets-title{
                    font-size: 30px;
                }
            }
            .eventDetailInfo__requirmets-age{

                .eventDetailInfo__requirmets-title{
                    font-size: 30px;
                }
            }
        }
        .eventDetailInfo__dates{
            padding: 10px 40px ;
            background-color: #edf0fd;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .eventDetailInfo__dates-title {
                font-size: 30px;
            }
            .eventDetailInfo__dates-begDate{
            }
            
            .eventDetailInfo__dates-endDate{
            }
        }
    }
}

.eventDetailNominations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 6px;

    .eventDetailNominations-data{
        margin: 10px 20px;
        padding: 20px 0;
        width: 60%;

        .eventDetailNominations__title{
            margin-bottom: 20px;
        }
        .eventDetailNominations__links{ 
            display: flex;
            flex-wrap: wrap;

            .eventDetailNominations__link{
                
                margin: 0 15px 10px 0;
                padding: 10px 15px ;
                color: #001372;
                background-color: rgb(255, 220, 19);
                border-radius: 3px;
                text-decoration: none;

                &:hover {
                    transition: all 0.2s ease-in-out;
                    background-color: rgb(255, 238, 142);
                }
            }
        }  
    } 
}

.curentStage{
    
    margin: 50px 0px;

    .curentStage__group{

        margin: 0 50px 15px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .curentStage__title{
    
        }
        
        .curentStage__downloadBtn{
            padding: 15px 10px;
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            background-color: green;

            &:hover {
                background-color: rgb(0, 201, 0);
                transition: 0.4s ease-in;
            }
        }

    }
    .curentStage__table{
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;

        thead {
            background-color: rgb(255, 237, 132);
            text-align: center;
        }

        .curentStage__tr{

            .curentStage__td{
                
                border: 1px solid rgb(144, 144, 144);
                padding: 15px 10px;
            }
        }
    }
}







.flexReverse {
    flex-direction: row-reverse !important;
}

.eventDetailResults{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 6px;

    .eventDetailResults__data{
        margin: 10px 20px;
        padding: 20px 0;
        width: 60%;

        .eventDetailResults__title{       
            margin-bottom: 20px;
        }
        .eventDetailResults__items{
            display: flex;
            flex-wrap: wrap;

            .eventDetailResults__name{
                margin: 0 15px 10px 0;
                padding: 10px 15px ;
                color: white;
                background-color: rgb(67, 117, 255);
                border-radius: 3px;
                text-decoration: none;
            }
        }
    }
}

.eventDetail__form{
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dde3ff;
    border-radius: 6px;
    
    .eventDetail__form-title {        
        font-size: 24px;
        margin-bottom: 10px;
    }
    .eventDetail__form-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        flex-grow: 3;

        .eventDetail__form-label{
        }
        .eventDetail__form-label{
            width: 100%;
            margin-bottom: 5px;
        }
        .eventDetail__form-input{
            margin: 0 auto;
            width: 100%;
            border: 1px solid rgb(211, 211, 211);
            padding: 5px;
            background: white;
            border-radius: 3px;
            font-size: 16px;

            &::placeholder{
                font-size: 16px;
            }
        }
    }
    .eventDetail__form-submit{
        height: 40px;
        width: auto;
        padding: 10px;
        margin: 10px auto;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: #323C8D;
        border: none;
        border-radius: 2px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

        &:hover {
            background-color: #6770b6;
            transition: all 0.3s ease;
        }
    }
}

@media screen and (max-width: 799px){
    .flexReverse {
        flex-direction: column !important;
    }

    .eventDetail__form {
        width: auto;
        flex-direction: column !important;
    }

    .eventDetailNominations {
        flex-direction: column !important;
    }
}

.eventDetailStages{
    padding: 20px 15px;
    margin-bottom: 20px;
    background-color: rgb(255, 248, 209);
    border-radius: 6px;

    .eventDetailStages__title{
        margin-left: 25px;
        margin-bottom: 20px;
        font-size: 35px;
    }
    .eventDetailStages__groups{

        .eventDetailStages__group-stage{
            
            background-color: rgb(255, 241, 161);
            margin-bottom: 70px;

            .eventDetailStages__groups-title{
                margin: 0;
                padding: 20px 30px 15px;
                font-size: 30px;
            }
            .eventDetailStages__group{
                padding: 20px 30px;
                display: flex;
                align-items: center;
                background-color: rgb(253, 230, 116);
                border: 1px solid rgb(255, 241, 161);
                border-radius: 6px;

                .eventDetailStages__group-name{
                    margin: 0 25px 0 0;
                }
                .eventDetailStages__group-result{
                
                    margin: 0;
                }
            }
        } 
    }
}

.eventDetailWithNomination {

    .addStudent {
        width: 100% !important;
        margin-top: 50px;
        background-color: rgb(255, 251, 228);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
        
        .eventDetail__form-title {
            margin: 15px 0;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .eventDetail__form-label {
            text-align: center;
        }

    }

    .addStageForm{
        width: 60%;
        margin: 0 auto;
    }

}

.admin {
    display: flex;
    flex-direction: row;

    .adminList{
        margin: 40px 20px 80px 20px; 
        .adminList__title{
            
        }
        .adminList__list{
            display: flex;
            margin-bottom: 30px;
            flex-direction: column;
            
            .adminList__item{
                width: 100%;
                padding: 10px 20px;
                margin: 10px 0;
                background-color: #adb6fd;
                border-radius: 3px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .adminList__title{
                    color: #404464;
                }
                .adminList__detailLink{
                    margin-right: 30px;
                    color: #404464;
                    text-decoration: none;
                }
            }
        }
    }
}

.adminadminHeader{
    margin-right: 50px;
    min-height: 100vh;
    width: 20%;
    background-color: #323C8D;

    .adminHeader__container{
        height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .adminHeader__logo{
            flex-grow: 1;

            .logo__img{
                height: 20vh;
            }
        }

        .adminHeader__nav{
            padding: 0;
            flex-grow: 3;
    

            .nav__btns{
                display: flex;
                flex-direction: column;
                padding: 0px;

                .nav__btn{
                    width: 100%;
                    height: 100%;
                    padding: 10px 10px;
                    margin-right: 20px;
                    text-decoration: none;
                    transition: 0.1s linear;
                    background-color: #5161db;
                    color: #d1d7fd;    
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    transition: 0.1s linear;
                    
                    &:hover {
                        background-color: #7782d3;
                        transition: 0.1s linear;
                        color: white;
                    }
                }
            }
        }
        
        .adminHeader__auth{
    
            .auth__btn{
                font-weight: 700;
                margin-right: 20px;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                transition: 0.1s linear;

                &:hover {
                    color: #8390f1;
                }
            }
        }
    }
}













