@import "node_modules/bootstrap/dist/css/bootstrap";

$backgroundColor: #e2e6ff;
$headerColor: #323C8D;
$headerLinkBtnHoverColor: #8390f1;
$headerBtnHoverColor: #8390f1;

$borderColor: #323C8D;
$blueColor: #323C8D;
$lightblueColor: #5b6df1;
$lightLightblueColor: #cbd1ff;
$yellow: rgb(255, 218, 9);
$lightYellow: rgb(255, 233, 106);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
  }

.header{
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: $headerColor;

    .header__container {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .header__logo{
    
            .logo__img{
                margin-left: 40px;
            }
        }  
        .header__secLogo {
            display: none;
        }
        .header__nav{
        
            .nav__btns {
                margin: 0;
                list-style: none;
                display: flex;
                align-items: center;
                
                .nav__btn {
                    margin-right: 20px;
                    font-weight: 500;
                    text-transform: uppercase;
                    a {
                        text-decoration: none;
                        color: white;
                        transition: 0.1s linear;
                        &:hover {
                            color: $headerLinkBtnHoverColor;                    
                        }
                    }
                }
            }
        }
        .header__auth{

            .auth__btn{
                font-weight: 700;
                margin-right: 20px;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                transition: 0.1s linear;
            }
    
            .auth__btn:hover {
                color: $headerBtnHoverColor;
            }

            .username{
                cursor: pointer;
                
                &:hover {
                    color: $lightblueColor;
                }
            }
        }
        .header__menuBtn {
            position: relative;
            display: none ;
            width: auto !important;
            padding: 5px 15px;
            background-color: white;
            color: #5460b9;
            border: none;
            border-radius: 2px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            z-index: 5;
            
            &:hover {
                background-color: #b8c1ff;
                color: #4c5ee2;
                transition: all 0.2s ease;
            }
        }
    }
}

@media screen and (max-width: 1282px) and (min-width: 800px){
    .header__container {
        justify-content: space-between !important;

        .header__nav {
            position: fixed;
            top: 0;
            left: -100000px;
            width: 30%;
            height: 100%;
            flex-direction: column;
            background-color: #24327c; 
            box-shadow: 0 30px 40px #404464;
            z-index: 3;
            padding: 80px 15px;
            transition: all 0.7s ease 0s;
            
            .nav__btns {
                padding: 0;
                flex-direction: column;
                align-items: flex-start !important;

                .nav__btn {
                    width: 100%;
                    border-bottom: 1px solid rgb(138, 138, 138);
                    padding: 10px 0px;
                }
                .nav__btn:last-child {
                    border: none;
                }
            }
        }

        .header__nav.active {
            left: 0;
        }
        .header__auth {
            position: fixed;
            bottom: 0;
            left: -100000px;
            width: 30%;
            background-color: transparent;
            z-index: 4;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 700px;
            transition: all 0.7s ease 0s;

            .auth__btn {
                font-size: 25px;
                margin-right: 0 !important;
                margin-bottom: 30px;
            }
        }

        .header__auth.active {
            left: 0;
        }
        .header__secLogo {
            display: flex !important;
            position: fixed;
            top: 0;
            left: -10000px;
            width: 30%;
            z-index: 4;
            justify-content: center;
            padding: 15px 0 0 0 ;
            transition: all 0.7s ease 0s;
        }

        .header__secLogo.active {
            left: 0;
        }
        .header__menuBtn {
            display: block !important;
        }
    }
}

@media screen and (max-width: 799px){
    .header__container {
        justify-content: space-between !important;

        .header__nav {
            position: fixed;
            bottom: +10000px;
            left: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            background-color: #24327c; 
            box-shadow: 0 30px 40px #404464;
            z-index: 3;
            padding: 80px 15px;
            transition: all 0.7s ease 0s;
            
            .nav__btns {
                padding: 0;
                flex-direction: column;
                align-items: center !important;

                .nav__btn {
                    width: 70%;
                    border-bottom: 1px solid rgb(138, 138, 138);
                    padding: 10px 0px;
                    display: flex;
                    justify-content: center;
                }
                .nav__btn:last-child {
                    border: none;
                }
            }
        }
        .header__nav.active {
            bottom: 0;
        }
        .header__auth {
            position: fixed;
            bottom: +10000px;
            left: 0;
            width: 100%;
            background-color: transparent;
            z-index: 4;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 550px;
            transition: all 0.7s ease 0s;

            .auth__btn {
                font-size: 25px;
                margin-right: 0 !important;
                margin-bottom: 30px;
            }
        }
        .header__auth.active {
            bottom: 0;
        }
        .header__secLogo {
            display: flex !important;
            position: fixed;
            top: -10000px;
            left: 0;
            width: 100%;
            z-index: 4;
            justify-content: center;
            padding: 15px 0 0 0 ;
            transition: all 0.7s ease 0s;
        }
        .header__menuBtn {
            display: block !important;
        }
        .header__secLogo.active {
            top: 0;
        }
    }
}

.auth {
    padding-top: 3em;
    width: 100%;
    height: 50em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .auth__leftSide{
        display: flex;
        align-items: center;
        justify-content: center;

        .auth__logo{

        }
    }
    .auth__rightSide {
        width: 60%;
        display: flex;
        flex-direction: column;
        
        .auth__title {
            width: 80%;
            margin-bottom: 5%;
        }
        .auth__form {
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 1em;
            align-items: center;
            justify-items: center;
            
            .auth__form-item {
                width: 90%;
                display: flex;
                flex-direction: column;
                
                .auth__form-input {
                    margin-bottom: 5px;
                    height: 40px;
                    border: none;
                    border-bottom: 2px solid rgb(236, 236, 236);

                    .auth__form-input-select {
                        
                    }
                    &::placeholder{
                        opacity: 0.5;
                    }
                    &:hover {
                        &::placeholder{
                            opacity: 0.7;
                            transition: all 0.1s ease;
                        }
                        transition: all 0.1s ease;
                        border: none;
                        border-bottom: 2px solid rgb(160, 160, 160);
                    }
                    &:focus {
                        &::placeholder{
                            opacity: 1;
                            transition: all 0.3s ease;
                        }
                        transition: all 0.3s ease;
                        outline: none;
                        border: none;
                        border-bottom: 2px solid rgb(128, 128, 128);
                    }
                }
                .text-danger {
                    margin: 0;
                }
            }
            .auth__form-submit {
                height: 40px;
                width: auto !important;
                padding: 10px;
                margin: 20px auto;
                grid-column-start: 1;
                grid-column-end: 3;
                background-color: #323C8D;
                border: none;
                border-radius: 2px;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;

                &:hover {
                    background-color: #6770b6;
                    transition: all 0.3s ease;
                }
            }
            .auth__homeBtn {
                margin: 0 auto 1em auto;
                grid-column-start: 1;
                grid-column-end: 3;
                color: #323C8D;
                text-decoration: none;
                &:hover {
                    color: #5b6df1;
                    text-decoration: underline;
                    transition: all 0.5s ease;
                }
            }

            .auth__regBtn-text {
                text-align: center;
                margin: 0;

                .auth__regBtn {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    color: #323C8D;
                    text-decoration: none;
                    &:hover {
                        color: #5b6df1;
                        text-decoration: underline;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .auth {
        padding: 3em 15px 3em 15px;
        flex-direction: column;
        height: 100%;
    }

    .auth__leftSide {
        margin-bottom: 2em;
    }

    .auth__logo {
        width: 50%;
    }

    .auth__rightSide {
        width: 100% !important;
        padding: 10px;
        align-items: center;
    }

    .auth__form {
        width: 100% !important;
        display: flex !important;
        flex-direction: column;
    }

    .auth__title {
        text-align: center;
    }

    .auth__form-submit {
    }
    
}


.profileBio{

    padding: 50px 100px;

    .profileBio__groupUserInfo{

        width: 70%;
        padding: 40px 50px;
        margin: 0 auto 50px auto;
        border: 6px solid $lightblueColor;
        border-radius: 10px;

        .profileBio__title{
            text-align: center;
            font-weight: bolder;
            font-size: 35px;
            color: $blueColor;
            margin-bottom: 30px;
        }

        .profileBio__group{
            margin: 0 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
            margin-bottom: 5px;
            border-bottom: 1px solid $blueColor;

            &:last-child {
                border-bottom: none;
                background-color: red;
            }

            .profileBio__field{
                margin: 0;
                padding: 5px 0;
                color: $blueColor;
                font-size: 25px;
            }
            .profileBio__value{
                margin: 0;
                padding: 5px 0;
                color: $blueColor;
                font-size: 25px;
            }
            
        }
    
        .profileBio__editLink{
            display: block;
            width: 30%;
            margin: 30px auto 0px auto;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            background-color: $lightblueColor;
            border: 2px solid $lightblueColor;
            color: white;
            border-radius: 5px;

            &:hover {

                background-color: transparent;
                color: $lightblueColor;
                transition: 0.3s ease-out;
            }
        }
    }
    
    .profileOwnEvents{          
    
        .profileOwnEvents__title{
            color: $blueColor;
        }

        .profileOwnEvents__event {
            padding: 10px 30px;   
            display: flex;
            flex-direction: column;
            align-items: center;

            .profileEvents__group{
                width: 100%;
                margin-bottom: 10px;
                padding: 20px 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: transparent;
                border: 3px solid $lightLightblueColor;
                border-radius: 4px;

                .profileOwnEvents__title {
                    font-size: 25px;
                    margin: 0;
                    flex-grow: 2;
                    overflow: hidden;
                }

                .profileOwnEvents__dates{
                display: flex;
                flex-direction: row;
                margin: 0px 30px;

                    .profileOwnEvents__text {
                        margin-right: 10px;
                        font-size: 20px;
                    }
                }         
                .profileOwnEvents__text{
                    margin: 0;
                    color: $blueColor;
                    font-size: 25px;
                }
                
            }
            .profileOwnEvents__btn{
                padding: 10px 20px;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                border: 2px solid $lightblueColor;
                color: $lightblueColor;
                border-radius: 5px;

                &:hover {
                    background-color: $lightblueColor;
                    border: 2px solid $lightblueColor; 
                    color: white;
                    transition: 0.3s ease-out;
                }
            }
        }
    }

    .profileBio__title{
        text-align: center;
    }
    .profileBio__form{
        
        width: 60%;
        margin: 0 auto;

        .profileBio__group{
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;


            .profileBio__label{
                margin: 0;
                font-size: 20px;
            }

            .profileBio__input{
                padding: 10px 15px;
                border: none;
                border-bottom: 2px solid $lightLightblueColor;

                &:hover {
                    background-color: rgb(248, 248, 248);
                    border-bottom: 2px solid $lightblueColor;
                    transition: 0.3s ease-in-out;
                }

                &:focus {
                    background-color: rgb(245, 245, 245);
                    border-bottom: 2px solid $lightblueColor;
                    transition: 0.3s ease-in-out;
                }
            }

            .profileBio__select{
                padding: 10px 15px;
                border: none;
                border-bottom: 2px solid $lightLightblueColor;

                &:hover {
                    background-color: rgb(248, 248, 248);
                    border-bottom: 2px solid $lightblueColor;
                    transition: 0.3s ease-in-out;
                }

                &:focus {
                    background-color: rgb(245, 245, 245);
                    border-bottom: 2px solid $lightblueColor;
                    transition: 0.3s ease-in-out;
                }
                .profileBio__option{
                
                }
            }
            
        }
        
        .profileBio__submit{
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            background-color: $lightblueColor;
            border: 2px solid $lightblueColor;
            color: white;
            border-radius: 5px;

            &:hover {

                background-color: transparent;
                border: 2px solid $lightblueColor; 
                color: $lightblueColor;
                transition: 0.3s ease-out;
            }
        }
    }
}

.events{
    margin: 40px 20px 80px 20px; 
    .events__title{
        margin: 0 20px 1em 20px;
        color: $blueColor;
    }
    .eventList{
        margin-bottom: 30px;
        padding: 10px 30px;   
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $blueColor;
        
        .eventList__item{
            width: 100%;
            margin-bottom: 10px;
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            border: 3px solid $lightLightblueColor;
            border-radius: 4px;

            .eventList__title{
                font-size: 30px;
                margin: 0;
                flex-grow: 2;
                overflow: hidden;
            }

            .eventList__dates{
                display: flex;
                flex-direction: row;
                margin: 0px 30px;

                .eventList__text{
                    margin: 0;
                    margin-right: 10px;
                    font-size: 20px;
                    color: $blueColor;
                }
            }
            

            .eventList__detailLink{
                padding: 10px 20px;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                border: 2px solid $lightblueColor;
                color: $lightblueColor;
                border-radius: 5px;

                &:hover {
                    background-color: $lightblueColor;
                    border: 2px solid $lightblueColor; 
                    color: white;
                    transition: 0.3s ease-out;
                }
            }
        }
    }
}

.hidden  {
    display: none;
}

.event_types{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px auto;

    .event_types__link{
        width: 20%;
        text-decoration: none;
        padding: 10px;

        .event_types__group{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 30%;
    
            .event_types-logo{
                height: 10em;
                margin-bottom: 2em;
            }
            .event_types__text {
                font-size: 24px;
            } 
        }
        &:hover {
            transition: all 0.5s ease;
            background-color: rgb(219, 219, 219);
            border-radius: 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    .event_types{ 
        flex-direction: column; 
        align-items: center;
    }
    .event_types__link{
        width: 80% !important;
    }
    .event_types__group{
        display: flex;
        flex-direction: row;
        height: 30%;
    }
}

.eventDetailInfo{
    margin: 50px 0;
    padding: 30px 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 60% 40%;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    background-color: #dde3ff;
    border-radius: 4px;

    .eventDetailInfo__titleLink {
        color: $blueColor;
        text-decoration: none;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0px 40px;

        &:hover {
            color: $lightblueColor;
        }
        .eventDetailInfo__title{       
            font-size: 35px;
        }
    }
    .eventDetailInfo__left{
        padding: 10px 40px ;
        background-color: #edf0fd;
        border-radius: 4px;

        .eventDetailInfo__group {
            display: flex;
            .eventDetailInfo__data{
                font-size: 20px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }        
    }
    .eventDetailInfo__right {
        display: flex;
        flex-direction: column;
        
        .eventDetailInfo__info{
            flex-grow: 1;
            padding: 10px 40px ;
            margin-bottom: 20px;
            background-color: #edf0fd;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .eventDetailInfo__group{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .eventDetailInfo__title{
                    font-size: 20px;
                }
                .eventDetailInfo__text{
                
                }
            }
        }

        .eventDetailInfo__dates {
            flex-grow: 1;
            padding: 10px 40px ;
            background-color: #edf0fd;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .eventDetailInfo__title{
                text-align: center;
                font-size: 20px;
            }
            .eventDetailInfo__text{
            
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    
    .eventDetailInfo {
        display: block;

        .eventDetailInfo__titleLink {
            text-align: center;
        }

        .eventDetailInfo__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1em;

            .eventDetailInfo__group {
                min-width: 50%;
                display: block;

                .eventDetailInfo__data{
                    text-align: center;
                }
            }
        }
    }
}



.eventDetailNominations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 6px;

    .eventDetailNominations-data{
        margin: 10px 20px;
        padding: 20px 0;
        width: 60%;

        .eventDetailNominations__title{
            margin-bottom: 20px;
        }
        .eventDetailNominations__links{ 
            display: flex;
            flex-wrap: wrap;

            .eventDetailNominations__link{
                
                margin: 0 15px 10px 0;
                padding: 10px 15px ;
                color: #001372;
                background-color: rgb(255, 220, 19);
                border-radius: 3px;
                text-decoration: none;

                &:hover {
                    transition: all 0.2s ease-in-out;
                    background-color: rgb(255, 238, 142);
                }
            }
        }  
    } 
}

.curentStage{
    margin: 50px 0px;

    .curentStage__group{
        margin: 0 50px 15px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .curentStage__title{
    
        }
        
        .curentStage__downloadBtn{
            padding: 15px 10px;
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            background-color: green;

            &:hover {
                background-color: rgb(0, 201, 0);
                transition: 0.4s ease-in;
            }
        }

    }
    .curentStage__table{
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;

        thead {
            background-color: rgb(255, 237, 132);
            text-align: center;
        }

        .curentStage__tr{

            .curentStage__td{
                
                border: 1px solid rgb(144, 144, 144);
                padding: 15px 10px;
            }
        }
    }
}

.eventDetailResults{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 6px;

    .eventDetailResults__data{
        margin: 10px 20px;
        padding: 20px 0;
        width: 60%;

        .eventDetailResults__title{       
            margin-bottom: 20px;
        }
        .eventDetailResults__items{
            display: flex;
            flex-wrap: wrap;

            .eventDetailResults__name{
                margin: 0 15px 10px 0;
                padding: 10px 15px ;
                color: white;
                background-color: rgb(67, 117, 255);
                border-radius: 3px;
                text-decoration: none;
            }
        }
    }
}

.eventDetail__form{
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dde3ff;
    border-radius: 6px;
    
    .eventDetail__form-title {        
        font-size: 24px;
        margin-bottom: 10px;
    }
    .eventDetail__form-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        flex-grow: 3;

        .eventDetail__form-label{
        }
        .eventDetail__form-label{
            width: 100%;
            margin-bottom: 5px;
        }
        .eventDetail__form-input{
            margin: 0 auto;
            width: 100%;
            border: 1px solid rgb(211, 211, 211);
            padding: 5px;
            background: white;
            border-radius: 3px;
            font-size: 16px;

            &::placeholder{
                font-size: 16px;
            }
        }
    }
    .eventDetail__form-submit{
        height: 40px;
        width: auto;
        padding: 10px;
        margin: 10px auto;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: #323C8D;
        border: none;
        border-radius: 2px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

        &:hover {
            background-color: #6770b6;
            transition: all 0.3s ease;
        }
    }
}

@media screen and (max-width: 799px){
    .flexReverse {
        flex-direction: column !important;
    }

    .eventDetail__form {
        width: auto;
        flex-direction: column !important;
    }

    .eventDetailNominations {
        flex-direction: column !important;
    }
}

.eventDetailStages{
    padding: 20px 15px;
    margin-bottom: 20px;
    background-color: rgb(255, 248, 209);
    border-radius: 6px;

    .eventDetailStages__title{
        margin-left: 25px;
        margin-bottom: 20px;
        font-size: 35px;
    }
    .eventDetailStages__groups{

        .eventDetailStages__group-stage{
            
            background-color: rgb(255, 241, 161);
            margin-bottom: 70px;

            .eventDetailStages__groups-title{
                margin: 0;
                padding: 20px 30px 15px;
                font-size: 30px;
            }
            .eventDetailStages__group{
                padding: 20px 30px;
                display: flex;
                align-items: center;
                background-color: rgb(253, 230, 116);
                border: 1px solid rgb(255, 241, 161);
                border-radius: 6px;

                .eventDetailStages__group-name{
                    margin: 0 25px 0 0;
                }
                .eventDetailStages__group-result{
                
                    margin: 0;
                }
            }
        }   
    }

    .eventDetailWithNomination__notification{
        padding: 10px 20px;

        .eventDetailWithNomination__title{
            font-size: 25px;
            margin: 0;
        }
        
        .eventDetailWithNomination__link{
            display: block;
            margin-top: 10px;
        }
    }
}

.eventDetailWithNomination {

    .addStudent {
        width: 100% !important;
        margin-top: 50px;
        background-color: rgb(255, 251, 228);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
        
        .eventDetail__form-title {
            margin: 15px 0;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .eventDetail__form-label {
            text-align: center;
        }

    }

    .addStageForm{
        width: 60%;
        margin: 0 auto;
    }

}

.admin {
    display: flex;
    flex-direction: column;
    color: $blueColor;

    .adminHeader{
        background-color: #323C8D;
        padding: 25px 0px;
    
        .adminHeader__container{
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .menu__icon{
                z-index: 5;
                display: block;
                position: relative;
                width: 30px;
                height: 18px;
                cursor: pointer;

                span, &::before, &::after{
                    left: 0;
                        position: absolute;
                        height: 10%;
                        width: 100%;
                        transition: all 0.3s ease 0s;
                        background-color: #fff ;
                        content: "";
                }
                span{
                    top: 50%;
                    transform: scale(1) translate(0px, -50%);
                }
                &::before, &::after{
                    content: "";
                }
                &::before{
                    top: 0;
                }
    
                &::after{
                    bottom: 0;
                }
            }
            .menu_active {
                position: fixed;
            }
            .adminHeader__nav{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                padding: 50px 0;
                background-color: #323d8dee;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 1;
                transform: translate(0px, -100%);
                transition: all 0.3s ease-in 0s;
                overflow: auto;
                .adminHeader__navTitle{
                    font-weight: bold;
                    color: #fff;
                    margin-bottom: 20px;
                }
                .nav__btns{
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 35px;

                    .nav__btn{

                        width: 40%;
                        padding: 15px 0;
                        font-size: 25px;
                        color: #fff;
                        text-decoration: none;
                        font-weight: bold;
                        text-align: center;
                        border-bottom: 1px solid #fff;

                        &:last-of-type {
                            font-size: 30px;
                            margin-top: 50px;
                            border: none;
                        }
                        
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.377);
                        }

                        &:focus {
                            background-color: rgba(255, 255, 255, 0.541);
                        }
                    }
                }
            }
            .active {
                transform: translate(0%, 0%);
            }
            .adminHeader__auth{
                .auth__btn{
                    font-size: 20px;
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    text-align: center;
                    margin-right: 15px;
                    
    
                    &:hover {
                        color: $lightLightblueColor;
                    }

                    &:focus {
                        color: $lightblueColor;
                    }
                }
            }
            .auth_hidden {
                visibility: hidden;
            }
        }
    }
    .main{
        min-width: 80%;
        min-height: 100vh;
        margin: 0 auto; 

        .adminList {
            padding: 50px 0;

            .adminList__prev {
                margin: 0 70px 30px 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .adminList__title{
                    font-size: 45px;
                    color: $blueColor;
                }
                .adminList__addItemLink {
                    margin-right: 10px;
                    padding: 10px 20px;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    background-color: transparent;
                    border: 2px solid rgb(255, 218, 7);
                    color: rgb(255, 218, 7);
                    border-radius: 5px;

                    &:hover {
                        background-color: rgb(255, 218, 7);
                        color: white;
                        transition: 0.3s ease-out;
                    }
                }
            }
            
            .adminList__list{
                margin-bottom: 30px;
                padding: 10px 30px;   
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $blueColor;
                
                .adminList__item{
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 20px 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: transparent;
                    border: 3px solid $lightLightblueColor;
                    border-radius: 4px;
        
                    .adminList__title{
                        font-size: 30px;
                        margin: 0;
                        flex-grow: 2;
                        overflow: hidden;
                    }

                    .adminList__dates{
                        display: flex;
                        flex-direction: row;
                        margin: 0px 30px;

                        .adminList__text{
                            margin: 0;
                            margin-right: 10px;
                            font-size: 20px;
                            color: $blueColor;
                        }
                    }

                    .adminList__group {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .adminList__detailLink{
                            margin-right: 10px;
                            padding: 10px 20px;
                            font-weight: bold;
                            text-align: center;
                            text-decoration: none;
                            background-color: transparent;
                            border: 2px solid $lightblueColor;
                            color: $lightblueColor;
                            border-radius: 5px;
    
                            &:hover {
                                background-color: $lightblueColor;
                                border: 2px solid $lightblueColor; 
                                color: white;
                                transition: 0.3s ease-out;
                            }
                        }
                    }
                }
            }
        }
        
        @media screen and (max-width: 1060px) and (min-width: 760px){
            .adminList__list {
                padding: 0 !important;
                flex-direction: row !important;
                flex-wrap: wrap;
                justify-content: space-between !important;
                align-items: center !important;

                .adminList__item {
                    width: 45% !important;
                    padding: 20px 10px;
                    flex-direction: column;
                    .adminList__title {
                        font-size: 20px !important;
                    }
                    .adminList__dates {
                        flex-direction: column !important;

                        .adminList__text {
                            font-size: 15px !important;

                        }
                    }
                    .adminList__group {
                        flex-direction: column !important;

                        .adminList__detailLink {
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 760px){

            .adminList__prev {
                flex-direction: column !important;
                margin: 0 !important;
                margin-bottom: 30px !important;

                .adminList__title {
                    text-align: center;
                    margin-bottom: 30px !important;
                }
            }
            .adminList__list {
                padding: 0 !important;
                flex-direction: row;
                flex-wrap: wrap;

                .adminList__item {
                    margin-bottom: 20px !important;
                    padding: 20px 10px;
                    flex-direction: column;

                    .adminList__title {
                        margin-bottom: 10px !important;
                    }

                    .adminList__dates {
                        margin-bottom: 15px !important;
                    }
                }
            }
        }

        .editItemForm {
            padding: 50px 0;
            .editItemForm__title{
                text-align: center;
                margin-bottom: 20px;
            }
            .editItemForm{
                width: 70%;
                margin: 0 auto;
            
                .editItemForm__item{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
            
                    .editItemForm__label{
                    
                    }
                    .editItemForm__input{
                        padding: 10px 15px;
                        border: none;
                        border-bottom: 2px solid $lightLightblueColor;
                        &:hover {
                            background-color: rgb(248, 248, 248);
                            border-bottom: 2px solid $lightblueColor;
                            transition: 0.3s ease-in-out;
                        }
                        &:focus {
                            background-color: rgb(245, 245, 245);
                            border-bottom: 2px solid $lightblueColor;
                            transition: 0.3s ease-in-out;
                        }
                        .editItemForm__input-option{
                
                        }
                    }
                }
                .etidItemForm__submit{
                    display: block;
                    margin: 40px auto;
                    padding: 10px 20px;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    background-color: $lightblueColor;
                    border: 2px solid $lightblueColor;
                    color: white;
                    border-radius: 5px;
            
                    &:hover {
            
                        background-color: transparent;
                        border: 2px solid $lightblueColor; 
                        color: $lightblueColor;
                        transition: 0.3s ease-out;
                    }
                }
                .goBackLink{
                
                }
            }
        }
        
        .addItem {
            padding: 50px 0;
            .addItem__title {
                text-align: center;
                margin-bottom: 50px;
            }
            
            .addItemForm{
                width: 70%;
                margin: 0 auto;
            
                .addItemForm__group{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
            
                    .addItemForm__label{
                
                    }
                    .addItemForm__input{
                        padding: 10px 15px;
                        color: $blueColor;
                        border: none;
                        border-bottom: 2px solid $lightLightblueColor;

                        &:hover {
                            background-color: rgb(248, 248, 248);
                            border-bottom: 2px solid $lightblueColor;
                            transition: 0.3s ease-in-out;
                        }
                        &:focus {
                            background-color: rgb(245, 245, 245);
                            border-bottom: 2px solid $lightblueColor;
                            transition: 0.3s ease-in-out;
                        }
                    }

                    .addItemForm__select {
                        padding: 15px 15px;
                        color: $blueColor;
                        border: none;
                        border: 2px solid $lightLightblueColor;

                        &:hover {
                            background-color: rgb(248, 248, 248);
                            border: 2px solid $lightblueColor;
                            transition: 0.3s ease-in-out;
                        }
                        &:focus {
                            background-color: rgb(245, 245, 245);
                            border: 2px solid $lightblueColor;
                            transition: 0.3s ease-in-out;
                        }

                        .addItemForm__option{
            
                        }
                    }
                }
            
                .editItemForm__link {
                    margin: 10px 0 0px 0px;
                }
            
                .addItem__form-submit{
                    display: block;
                    margin: 40px auto;
                    padding: 10px 20px;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    background-color: $lightblueColor;
                    border: 2px solid $lightblueColor;
                    color: white;
                    border-radius: 5px;
            
                    &:hover {
                        background-color: transparent;
                        border: 2px solid $lightblueColor; 
                        color: $lightblueColor;
                        transition: 0.3s ease-out;
                    }
                }
            }
        }
    }
}

.goBackLink {
    display: block;
    text-align: center;
    margin: 20px 0 40px 0;
}



























